<section>
  @if(service.choosenTree){
  <div>{{ tree.name }} ({{ tree.role }})</div>
  }@else {
  <button (click)="service.choosenTree = tree.name">
    {{ tree.name }} ({{ tree.role }})
  </button>
  }
  <div (click)="service.showExplanation = !service.showExplanation">
    @if(service.showExplanation){&#11165;}@else{&#11167;}
  </div>
  @if(service.showExplanation){
  <div>
    <div>
      @for(short of tree.explanation?.short; track short) {
      <p>{{ short }}</p>
      } @for(long of tree.explanation?.long; track long) {
      <p>{{ long }}</p>
      }
    </div>
    @for (bonus of tree.bonuses; track bonus) {
    <div>
      @for (line of bonus; track line) {
      <p>{{ line }}</p>
      }
    </div>
    }
    <div>
      @for (implicitSkill of tree.implicits; track implicitSkill) {
      <div>
        <img [src]="implicitSkill.picture" />
        <p>{{ implicitSkill.name }}</p>
      </div>
      }
    </div>
  </div>
  }
</section>
<section [ngClass]="'body'">
  <div [ngClass]="'passive'">
    @for (trait of tree.passives; track trait.name) {
    <passive-trait [trait]="trait" />}
  </div>
  <div [ngClass]="'active'">
    @for (trait of tree.actives; track trait.name) {
    <active-trait
      [trait]="trait"
      [ngClass]="'trait'"
      [style]="
        'grid-column:' +
        (trait.position.x + 1) +
        '; grid-row:' +
        (trait.position.y + 1)
      "
    />
    }
  </div>
</section>
