<section [ngClass]="'header'">
  @if(service.choosenTree){
  <h1>{{ tree.name }} ({{ tree.role }})</h1>
  }@else {
  <button (click)="service.choosenTree = tree.name">
    <h1>{{ tree.name }} ({{ tree.role }})</h1>
  </button>
  }
  <button (click)="service.showExplanation = !service.showExplanation">
    @if(service.showExplanation){&#11165;}@else{&#11167;}
  </button>
  @if(service.showExplanation){
  <div>
    <div>
      @for(short of tree.explanation?.short; track short) {
      <p>{{ short }}</p>
      } @for(long of tree.explanation?.long; track long) {
      <p>{{ long }}</p>
      }
    </div>
    @for (bonus of tree.bonuses; track bonus) {
    <div>
      @for (line of bonus; track line) {
      <p>{{ line }}</p>
      }
    </div>
    }
    <div>
      @for (implicitSkill of tree.implicits; track implicitSkill) {
      <div>
        <img [src]="implicitSkill.picture" />
        <p>{{ implicitSkill.name }}</p>
      </div>
      }
    </div>
  </div>
  }
</section>
<section [ngClass]="'body'">
  <div [ngClass]="'passive'">
    @for (trait of tree.passives; track trait.name) {
    <passive-trait
      [trait]="trait"
      [ngClass]="'trait'"
      [style]="'grid-row:' + ($index * 3 + 1) + ' / ' + ($index * 3 + 4)"
    />}
  </div>
  <div [ngClass]="'active'">
    @for (trait of tree.actives; track trait.name) {
    <active-trait
      [trait]="trait"
      [ngClass]="'trait'"
      [style]="
        'grid-column:' +
        (trait.position.x + 1) +
        '; grid-row:' +
        trait.position.y * 3 +
        1 +
        ' / ' +
        (trait.position.y * 3 + 4)
      "
    />
    }
  </div>
</section>
