//
//Arrays
//

$colors: (
    bg: rgb(22, 22, 22),
    txt: rgb(221, 221, 221),
    dim: rgba(48, 48, 48, 0.671),
    bg-highlight: rgb(53, 53, 53),
    fg-highlight: rgb(182, 80, 21),
);

$sizes: (
    small: calc(1px + 0.3vh + 0.1vw),
    reg: calc(7px + 1vh + 0.5vw),
    larg: calc(10px + 1.5vh + 0.75vw),
    header: calc(10px + 2vh + 1vw),
    popup-txt: calc(9px + 1.75vh + 0.25vw),
    popup-txt-small: calc(5px + 1.25vh + 0.15vw),
    popup-header: calc(14px + 2.5vh + 0.75vw),
    popup-button: calc(8px + 1.8vh + 0.4vw),
    sizing-header: calc(8px + 1.5vh + 0.5vw),
);

//
//Imports
//

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,500&display=swap');

//
//Mix-ins
//

@mixin no-focus-outline {
    &:focus {
        outline: 0px;
    }
}

//
//Map functions
//

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@function size($size-name) {
    @return map-get($sizes, $size-name);
}

//
//Classes and attributes
//

//HTML preset

html,
body {
    margin: 0;
    border: none;
    padding: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
    background-color: color(bg);
}

//Body preset

body {
    font-size: 1.4rem;
}

//Body / App grid structure

.App {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh auto;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
}

//Presets

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.4rem;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.2rem;
}

ul {
    list-style-type: none;
}

select,
input {
    appearance: none;
}

button {
    border: none;
    padding: 1vh;
    background-color: transparent;
    color: color(txt);
    margin: 0;
    @include no-focus-outline();
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//Fix for Firefox

input[type='number'] {
    -moz-appearance: textfield;
}

//Header

.header {
    z-index: 10;
    display: grid;
    position: relative;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: 8vh auto 8vh;
    grid-template-rows: 8vh;
    height: 100%;
    width: 100%;
    max-height: 100%;
    button {
        position: relative;
        padding: 0;
        height: 100%;
        width: 100%;
        @include no-focus-outline;
        svg {
            left: 0%;
            top: 0%;
            height: 4vh;
            width: 4vh;
            position: absolute;
            padding: 2vh;
        }
    }
    &__btn {
        &__bg {
            position: absolute;
            display: block;
            z-index: 10;
            top: 4vh;
            border-radius: 50%;
            background-color: color(txt);
            width: 6vh;
            height: 6vh;
            &--left {
                left: -10vh;
                transform: translate(-50%, -50%);
            }
            &--right {
                right: -10vh;
                transform: translate(50%, -50%);
            }
        }
    }
    &__pts {
        position: relative;
        align-self: center;
        justify-self: center;
        z-index: 4;
        font-size: 2.5vh;
        color: color(txt);
        text-align: center;
        &::selection,
        ::selection {
            background-color: color(txt);
            color: color(bg);
        }
    }
}

//Content

.content {
    position: relative;
}

//Navigation

.nav {
    position: absolute;
    z-index: 5;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &__bar {
        display: grid;
        position: fixed;
        grid-template-columns: auto;
        grid-template-rows: 90fr 10fr;
        align-items: center;
        justify-items: left;
        padding-inline-start: 2.5vw;
        z-index: 6;
        top: 0;
        left: 0;
        width: 26.5vw;
        height: 100%;
        &__links {
            display: grid;
            position: relative;
            grid-template-columns: 1fr;
            gap: size(reg);
            width: 100%;
            height: auto;
            justify-items: left;
            padding-inline-start: 0;
            a:link {
                text-decoration: none;
            }
            li {
                position: relative;
                font-size: size(popup-txt);
                text-align: left;
            }
            & > * {
                display: block;
                position: absolute;
                float: right;
            }
        }
        &__version {
            position: relative;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            align-items: center;
            justify-items: center;
            gap: size(reg);
            max-width: 100vw;
            overflow: visible;
            font-size: size(popup-txt-small);
            svg {
                position: relative;
                justify-self: end;
                padding: 0;
                margin: 0;
                width: size(popup-txt);
            }
            div {
                padding: 1.5vh 0 0 0;
                position: relative;
                justify-self: start;
            }
        }
    }
    &__bg {
        display: block;
        position: absolute;
        z-index: 5;
        top: 50%;
        height: 100%;
        background-color: color(txt);
        padding: 0 0 0 10vw;
    }
}

//Settings

.settings {
    position: absolute;
    z-index: 5;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    &__bar {
        display: grid;
        position: absolute;
        grid-template-columns: minmax(40vw, 48vw) minmax(40vw, 48vw);
        grid-template-rows: auto 1.25fr auto 1.25fr auto auto;
        gap: size(reg);
        align-items: center;
        justify-items: center;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: color(txt);
        z-index: 6;
        * {
            font-family: 'Rubik', sans-serif;
        }
        label,
        input,
        select,
        span {
            font-size: size(popup-txt);
        }
        h2 {
            margin: 0;
            font-size: size(popup-header);
            align-self: center;
            justify-self: center;
            grid-area: 1 / 1 / 2 / 3;
        }
        button {
            position: relative;
            align-self: center;
            grid-column: 1 / 3;
            font-size: size(popup-button);
            background-color: color(bg-highlight);
            border-radius: size(small);
            width: calc(50px + 25vw + 15vh);
        }
        &__options {
            display: grid;
            position: relative;
            align-items: center;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr 1fr;
            grid-area: 3 / 1 / 4 / 3;
            row-gap: size(larg);
            column-gap: size(reg);
            padding: 2vh 0;
            &--left {
                justify-self: end;
                text-align: right;
            }
            &--right {
                justify-self: start;
                border: none;
                color: color(txt);
                border-color: color(bg);
                background-color: color(bg-highlight);
                font-size: 2.8vh;
                text-align: center;
                border-radius: size(small);
                height: size(popup-txt);
            }
            &__lang {
                line-height: size(popup-txt);
                height: auto;
                padding: calc(3px + 0.5vh + 0.25vw);
                box-sizing: border-box;
                > option {
                    height: size(popup-txt-small);
                    font-size: size(popup-txt-small);
                    background-color: color(bg-highlight);
                }
            }
            &__lvl {
                padding: calc(3px + 0.5vh + 0.25vw) 0;
                height: size(popup-txt);
                appearance: none;
                width: auto;
            }
            &__tooltip {
                position: relative;
                grid-area: 3/2/3/3;
                height: size(popup-txt);
                width: size(popup-txt);
                @include no-focus-outline;
                &__lbl {
                    color: color(txt);
                    background-color: color(bg-highlight);
                    height: size(popup-txt);
                    width: size(popup-txt);
                    padding: calc(3px + 0.5vh + 0.25vw);
                    grid-area: 3/2/3/3;
                    > * {
                        opacity: 0;
                    }
                }
                &:checked + .settings__bar__options__tooltip__lbl {
                    color: color(txt);
                    background-color: color(fg-highlight);
                    > * {
                        opacity: 1;
                    }
                }
            }
        }
        &__reset {
            grid-row: 5/6;
        }
        &__save {
            grid-row: 6/7;
        }
        &__close {
            right: 0%;
        }
    }
    &__bg {
        display: block;
        position: absolute;
        z-index: 5;
        top: 50%;
        right: -90vw;
        width: 70vw;
        height: 100%;
        background-color: color(txt);
    }
}
