@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,500&display=swap");
html,
body {
  margin: 0;
  border: none;
  padding: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
  background-color: #161616;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 8% auto 5%;
      grid-template-rows: 8% auto 5%;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 4vh;
}

ul {
  list-style-type: none;
}

select,
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  border: none;
  padding: 1vh;
  background-color: transparent;
  color: #dddddd;
  margin: 0;
}

button:focus {
  outline: 0px;
}

.header {
  z-index: 10;
  display: -ms-grid;
  display: grid;
  position: relative;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 8vh auto 8vh;
      grid-template-columns: 8vh auto 8vh;
  -ms-grid-rows: 8vh;
      grid-template-rows: 8vh;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.header button {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header button:focus {
  outline: 0px;
}

.header button svg {
  left: 0%;
  top: 0%;
  height: 4vh;
  width: 4vh;
  position: absolute;
  padding: 2vh;
}

.header__btn__bg {
  position: absolute;
  display: inherit;
  z-index: 5;
  top: 4vh;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: #dddddd;
}

.header__btn__bg--left {
  left: 4vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__btn__bg--right {
  right: 4vh;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.header__pts {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 4;
  font-size: 2.5vh;
  color: #dddddd;
  text-align: center;
}

.header__pts::-moz-selection,
.header__pts ::-moz-selection {
  background-color: #dddddd;
  color: #161616;
}

.header__pts::selection,
.header__pts ::selection {
  background-color: #dddddd;
  color: #161616;
}

.content {
  position: absolute;
}

.nav {
  position: absolute;
  z-index: 5;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.nav__bar {
  position: absolute;
  display: -ms-grid;
  display: grid;
  z-index: 6;
  top: 50vh;
  left: 0;
  height: 50vh;
  width: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.nav__bar__links {
  display: -ms-grid;
  display: grid;
  position: relative;
  float: left;
}

.nav__bar__links a:link {
  text-decoration: none;
}

.nav__bar__links li {
  font-size: calc(9px + 1.75vh + 0.25vw);
  text-align: center;
}

.nav__bar__links > * {
  display: block;
  position: absolute;
  float: right;
}

.nav__bar__close {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav__bar__close:focus {
  outline: 0px;
}

.nav__bar__close svg {
  left: 0%;
  top: 0%;
  height: 4vh;
  width: 4vh;
  position: absolute;
  padding: 2vh;
}

.nav__bar__version {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: calc(1px + 0.3vh + 0.1vw);
  max-width: 100vw;
  padding: calc(1px + 0.3vh + 0.1vw);
  bottom: 95%;
  right: 0%;
  overflow: visible;
  font-size: calc(5px + 1.25vh + 0.15vw);
}

.nav__bar__version svg {
  position: relative;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 0;
  margin: 0;
  width: calc(9px + 1.75vh + 0.25vw);
}

.nav__bar__version div {
  padding: calc(5px + 1.25vh + 0.15vw) 0 0 0;
  position: relative;
  -ms-grid-column-align: start;
      justify-self: start;
}

.nav__bg {
  position: absolute;
  display: inherit;
  z-index: 5;
  top: 4vh;
  left: 4vh;
  height: 0;
  width: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 50%;
  background-color: #dddddd;
}

.settings {
  position: absolute;
  z-index: 5;
  display: block;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
}

.settings__bar {
  display: -ms-grid;
  display: grid;
  position: absolute;
  -ms-grid-columns: minmax(40vw, 48vw) minmax(40vw, 48vw);
      grid-template-columns: minmax(40vw, 48vw) minmax(40vw, 48vw);
  -ms-grid-rows: auto 1.25fr auto 1.25fr auto auto;
      grid-template-rows: auto 1.25fr auto 1.25fr auto auto;
  gap: calc(7px + 1vh + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #dddddd;
}

.settings__bar * {
  font-family: 'Rubik', sans-serif;
}

.settings__bar label,
.settings__bar input,
.settings__bar select,
.settings__bar span {
  font-size: calc(9px + 1.75vh + 0.25vw);
}

.settings__bar h2 {
  margin: 0;
  font-size: calc(14px + 2.5vh + 0.75vw);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.settings__bar button {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-size: calc(8px + 1.8vh + 0.4vw);
  background-color: #353535;
  border-radius: calc(1px + 0.3vh + 0.1vw);
  width: calc(50px + 25vw + 15vh);
}

.settings__bar__options {
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  row-gap: calc(10px + 1.5vh + 0.75vw);
  -webkit-column-gap: calc(7px + 1vh + 0.5vw);
          column-gap: calc(7px + 1vh + 0.5vw);
  padding: 2vh 0;
}

.settings__bar__options--left {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

.settings__bar__options--right {
  -ms-grid-column-align: start;
      justify-self: start;
  border: none;
  color: #dddddd;
  border-color: #161616;
  background-color: #353535;
  font-size: 2.8vh;
  text-align: center;
  border-radius: calc(1px + 0.3vh + 0.1vw);
  height: calc(9px + 1.75vh + 0.25vw);
}

.settings__bar__options__lang {
  line-height: calc(9px + 1.75vh + 0.25vw);
  height: auto;
  padding: calc(3px + 0.5vh + 0.25vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.settings__bar__options__lang > option {
  height: calc(5px + 1.25vh + 0.15vw);
  font-size: calc(5px + 1.25vh + 0.15vw);
  background-color: #353535;
}

.settings__bar__options__lvl {
  padding: calc(3px + 0.5vh + 0.25vw) 0;
  height: calc(9px + 1.75vh + 0.25vw);
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  width: calc(calc(5px + 1.5vh + 0.5vw) * 3);
}

.settings__bar__options__tooltip {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/3/3;
  height: calc(9px + 1.75vh + 0.25vw);
  width: calc(9px + 1.75vh + 0.25vw);
}

.settings__bar__options__tooltip:focus {
  outline: 0px;
}

.settings__bar__options__tooltip__lbl {
  color: #dddddd;
  background-color: #353535;
  height: calc(9px + 1.75vh + 0.25vw);
  width: calc(9px + 1.75vh + 0.25vw);
  padding: calc(3px + 0.5vh + 0.25vw);
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/3/3;
}

.settings__bar__options__tooltip__lbl > * {
  opacity: 0;
}

.settings__bar__options__tooltip:checked + .settings__bar__options__tooltip__lbl {
  color: #dddddd;
  background-color: #b65015;
}

.settings__bar__options__tooltip:checked + .settings__bar__options__tooltip__lbl > * {
  opacity: 1;
}

.settings__bar__reset {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.settings__bar__save {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.settings__bar__close {
  right: 0%;
}

.settings__bg {
  position: absolute;
  display: inherit;
  z-index: 5;
  top: 4vh;
  right: 4vh;
  height: 0;
  width: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 50%;
  background-color: #dddddd;
}

/*
Fallback for UpToDate:
.version{
    position: absolute;
    display: block;
    padding: size(small);
    bottom: 0%;
    left: 0%;
    margin: 0 calc(1% + 10px);
    overflow: visible;
    div{
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        gap: size(small);
        max-width: 100vw;
        font-size: size(popup-txt-small);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    svg{
        position: relative;
        justify-self: end;
        padding: 0;
        margin: 0;
        width: size(popup-txt);
    };
    div{
        padding: size(popup-txt-small) 0 0 0;
        position: relative;
        justify-self: start;
    }
};
*/
/*# sourceMappingURL=index.css.map */