body {
  margin: 0;
}

.trait {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  justify-items: center;
  align-items: center;
  margin: 0.2vw 0;
  & > img {
    height: auto;
  }
  & > p {
    text-align: center;
    overflow-x: hidden;
    hyphens: auto;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

planner {
  p {
    font-size: 1.5vh;
    margin: 0;
  }
}
